*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 5%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #fff;
}
.navbar .menu{
    display: flex;
    list-style: none;  
}
.menu  li{
    margin:10px;
}
.menu  li a{
   text-decoration: none;
}
.footer{
    width: 100%;
    position: fixed;
    bottom:0px;
    box-shadow: 0 0.1rem 1rem 0.25rem rgb(0 0 0 / 5%);
    padding:12px 0;
    text-align: center;
    align-items: center;
    z-index: 999999;
    background: #000;
    color:#fff;
    justify-content: space-between;
}
.footer ul li {
    list-style: none;
}
.footer ul li a{
   color:#fff;
   margin-right:20px;
}
.m-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px;
}
.card{
    width:400px;
    border: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 5%);
    box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 5%);
}
.logo{
    text-decoration: none;
    color:#000;
}
.rescard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
margin-bottom:50px
}
.des{
    padding: 20px;
}
.d-flex{
    display:flex;
}
.justify-content-bewteeen{
    justify-content: space-between;
}
.ms-2{
    margin-left:20px;
}
.mr-2{
    margin-right:20px;
}
.mt-2{
    margin-top:20px;
}
.form-control{
    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px 0px 0px 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
 .btn-search{
    background: #207be3;
    color: #fff;
    border-color: #207be3;
    padding: 8px 20px;
    border-radius: 0 4px 4px 0px;
    transition: all ease 0.2s;
    cursor: pointer;
    font-size: 16px;
 }

 .input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.input-group-append {
    margin-left: -1px;
}
.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}
.input-group>.input-group-append>.input-group-text{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    cursor: pointer;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.shimer{
    width:100%;
    height: 100%;
}
.menu li a{
    display: flex;
    align-items: center;
}
.menu li svg{
margin-right:5px
}
.mt-5{
    margin-top: 120px;
}
.shimmerdiv{  flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    display: flex;
    width:100%;
}
   
.s-card{
    width:400px;
    height:400px;
    background:  #ccc;
    -webkit-box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 5%);
    box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 5%);
  
    margin:20px;
}
   
.text-center{
    text-align: center;
}